.container {
  width: 100%;
  max-width: 375px;
  margin: auto;
  padding: 0 16px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    max-width: 1366px;
  }
}
