.section__movie-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 175px));
  justify-content: center;
  gap: 32px 16px;
  padding: 24px 0;
}

.movie-card {
  width: 100%;
  max-width: 175px;
  border-radius: 8px;
}

.movie-card__cover {
  width: 100%;
  aspect-ratio: 1/1.5;
  border-radius: inherit;
  background-image: url(../../assets/Movie-cover-example.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 8px;
}

.movie-card__movie-name {
  font-size: 0.9rem;
}

.movie-card__movie-info {
  font-size: 0.7rem;
  color: var(--text-muted);
}

@media screen and (min-width: 768px) {
  .section__movie-cards {
    grid-template-columns: repeat(4, minmax(130px, 175px));
  }
}

@media screen and (min-width: 1120px) {
  .section__movie-cards {
    grid-template-columns: repeat(6, 1fr);
    gap: 40px 24px;
  }
  .movie-card {
    max-width: 100%;
  }
}
