.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.section__title {
  font-size: 1.3rem;
}

.section__see-more {
  color: var(--text-muted);
  font-size: 0.9rem;
}

@media screen and (min-width: 1120px) {
  .section__title {
    font-size: 2rem;
  }

  .section__see-more {
    font-size: 1.1rem;
  }

  .section__see-more:hover {
    color: var(--text-main);
    transition: var(--transition-fast);
  }

  .section__movie-cards {
    grid-template-columns: repeat(5, minmax(175px, 250px));
    gap: 22px 32px;
  }

  .movie-card__movie-name {
    font-size: 1.1rem;
  }

  .movie-card__movie-info {
    font-size: 0.9rem;
    color: var(--text-muted);
  }
}
